<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzURWZa3HyXSPaz4CX3jkpqonxcq4JMOg</string>
	<key>GCM_SENDER_ID</key>
	<string>281904076994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raychang.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-cd667</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-cd667.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281904076994:ios:82aa6235ea8221f8a6c35b</string>
</dict>
</plist>